* {
  margin: 0;
  padding: 0;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu",
    "sans-serif";
}
body {
  background-color: black;
}
.header {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZjU2MmFhZjQtNWRiYi00NjAzLWEzMmItNmVmNmMyMjMwMTM2XC9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LOYKSxIDqfPwWHR0SSJ-ugGQ6bECF0yO6Cmc0F26CQs");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
  width: 100%;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); /* dark overlay */
}
.nav {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100%;
  gap: 63%;
}
.logo {
  z-index: 2;
  position: relative;
  height: 150px;
  width: 150px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 80px;
  background-color: rgb(229, 9, 20);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s ease-out;
}
.btn:hover {
  background-color: rgb(187, 6, 15);
}
.content {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 700px;
  width: 100%;
  color: white;
}
.head {
  height: 100px;
  width: 650px;
  font-size: 55px;
  font-weight: bolder;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  text-align: center;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu",
    "sans-serif";
}
.price {
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
}
.det {
  word-spacing: 3px;
  margin-top: 30px;
  font-size: 17px;
}
.email {
  height: 55px;
  width: 430px;
  background: transparent;
  color: aliceblue;
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 15px;
  font-size: 16px;
}
.email input:focus {
  border-color: white; /* Netflix red border on focus */
  background-color: rgba(0, 0, 0, 0.8);
}
.in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 23px;
  font-weight: 500;
  height: 55px;
  width: 190px;
  background-color: rgb(229, 9, 20);
  margin-top: 15px;
  border-radius: 5px;
  margin-left: 5px;
}
.btn1:hover {
  background-color: rgb(187, 6, 15);
}
.fa-solid {
  font-size: 20px;
  margin-top: 2px;
}
.detail {
  height: 250px;
  background: linear-gradient(to bottom, #20203e, #000);
  border-top: 4px solid #e50914;
  border-radius: 50% 50% 0 0 / 10% 10% 0 0;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 1;
  border-radius: 25%;
  margin-top: -100px;
  z-index: 1;
}
.data {
  height: 2100px;
  color: white;
  z-index: 2;
  position: relative;
  width: 90%;
  margin-left: 100px;
  margin-top: -150px;
}
.h1 {
  margin-left: 50px;
}
.scroll-button {
  background-color: rgb(68, 57, 57);
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  z-index: 10;
  height: 120px;
  width: 20px;
  box-shadow: 0 0 10px black;
  display: inline-block;
  border-radius: 5px;
}
.scroll-button.left {
  margin-top: 150px;
  margin-left: -100px;
}
.scroll-button.right {
  right: 0;
  margin-top: 150px;
}
.movies {
  display: flex;
  height: 500px;
  width: 90%;
  margin-left: 100px;
}
.slider {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 40px;
  height: 320px;
  margin-left: -70px;
}
.slider span {
  flex: 0 0 auto;
  width: 150px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}
.m1 {
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.m1 img {
  height: 250px;
  width: 180px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.m1 h1 {
  margin-top: -100px;
  font-size: 6rem;
  font-weight: 700;
  content: attr(data-content);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke: 0;
  position: relative;
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
  color: rgb(65, 65, 65);
  margin-left: -25px;
  cursor: pointer;
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
}
.m2 {
  margin-left: 70px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.m2 img {
  height: 250px;
  width: 180px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.m2 h1 {
  margin-top: -150px;
  font-size: 6rem;
  font-weight: 700;
  content: attr(data-content);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke: 0;
  position: relative;
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
  color: rgb(65, 65, 65);
  margin-left: -25px;
  cursor: pointer;
}
.m1:hover {
  transform: scale(1.1);
}
.m2:hover {
  transform: scale(1.1);
}
.slider::-webkit-scrollbar {
  display: none;
}
.more {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.card {
  background: linear-gradient(120deg, #16213e, rgba(211, 72, 72, 0.2));

  border-radius: 20px;
  width: 240px;
  height: 240px;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 30px;
  justify-content: center;
  align-items: center;
}
.card h2 {
  margin-top: 0;
  font-size: 22px;
  margin-top: 10px;
}

.card p {
  font-size: 15px;
  line-height: 1.5;
  margin-top: 10px;
}
.card svg {
  position: absolute;
  bottom: 20px;
  right: 40px;
  width: 80px;
  height: 80px;
}
.ca {
  margin-top: -150px;
  margin-bottom: 20px;
  margin-left: 30px;
}
.qu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
.qu div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 90%;
  font-size: 30px;
  background-color: #1e1e2f;
  list-style: none;
  margin-top: 20px;
}
.qu div p {
  cursor: pointer;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.qu div:hover {
  background-color: #2f3442;
}
#p1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: auto;
  width: 87%;
  background-color: #191922;
  font-size: 25px;
  right: 68px;
  margin-top: 4px;
  transition: 0.5s ease-in-out;
  display: none;
}
#p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: auto;
  width: 87%;
  background-color: #191922;
  font-size: 25px;
  right: 68px;
  margin-top: 4px;
  transition: 0.5s ease-in-out;
  display: none;
}
#p3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: auto;
  width: 87%;
  background-color: #191922;
  font-size: 25px;
  right: 68px;
  margin-top: 4px;
  transition: 0.5s ease-in-out;
  display: none;
}
#p4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: auto;
  width: 87%;
  background-color: #191922;
  font-size: 25px;
  right: 68px;
  margin-top: 4px;
  transition: 0.5s ease-in-out;
  display: none;
}
#p5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: auto;
  width: 87%;
  background-color: #191922;
  font-size: 25px;
  right: 68px;
  margin-top: 4px;
  transition: 0.5s ease-in-out;
  display: none;
}
#p6 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: auto;
  width: 87%;
  background-color: #191922;
  font-size: 25px;
  right: 68px;
  margin-top: 4px;
  transition: 0.5s;
  display: none;
}
#sum {
  margin-left: 1150px;
  position: absolute;
  font-size: 50px;
}
#sum1 {
  margin-left: 1150px;
  position: absolute;
  font-size: 50px;
}
#sum2 {
  margin-left: 1150px;
  position: absolute;
  font-size: 50px;
}
#sum3 {
  margin-left: 1150px;
  position: absolute;
  font-size: 50px;
}
#sum4 {
  transition: 0.3s;
  margin-left: 1150px;
  position: absolute;
  font-size: 50px;
}
#sum5 {
  margin-left: 1150px;
  position: absolute;
  font-size: 50px;
}
.q1 {
  margin-left: -900px;
}
.inp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
#link1 {
  margin-top: 80px;
  color: rgb(179, 175, 175);
  display: inline-block;
}
.class1 {
  display: flex;
  width: 100%;

  color: white;
  margin-top: 50px;
}
.link {
  color: rgb(179, 175, 175);
  margin-left: 150px;
  width: 170px;
}
#btn2 {
  height: 35px;
  width: 130px;
  background: transparent;
  color: white;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}
#show {
  display: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

#btn3 {
  background: transparent;
  height: 30px;
  width: 30px;
  border: none;
  color: #737b93;
  font-size: 20px;
  font-weight: bold;
  top: 20px;
  right: 40px;
  position: absolute;
  z-index: 999;
  cursor: pointer;
}
#btn3:hover {
  background-color: #20203e;
  border-radius: 50%;
}
.mov {
  display: flex;

  top: 0;
  position: absolute;
  width: 100%;
  height: 400px;
}
.mov1 {
  display: flex;

  bottom: 0;
  position: absolute;
  width: 100%;
  height: 196px;
  color: aliceblue;
  gap: 10px;
  flex-direction: column;
}
.mov1 span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: rgba(62, 63, 55, 0.9);
  border-radius: 4px;
}
#spa {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}
#spa1 {
  margin-left: 20px;
  width: 90%;
}
.spa1 a {
  margin-left: 20px;
  margin-top: 10px;
  position: relative;
}
.c11 {
  width: 70px;
  height: 33px;
  margin-left: 20px;
}
.c12 {
  width: 50px;
  height: 33px;
}
.c13 {
  width: 60px;
  height: 33px;
}
.c14 {
  width: 80px;
  height: 33px;
}
/* From Uiverse.io by bhaveshxrawat */
.card1 {
  width: 650px;
  height: 600px;
  background: #07182e;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}
